// Processes
process {
    withLabel: 'fastqc' { cpus = 8; memory = 8.GB }
    withLabel: 'trimming' { cpus = 8; memory = 8.GB }
    withLabel: 'create_bed' { cpus = 8; memory = 8.GB }
    withLabel: 'create_tss' { cpus = 8; memory = 8.GB }
    withLabel: 'index' { cpus = 8; memory = 20.GB }
    withLabel: 'align' { cpus = 12; memory = 20.GB }
    withLabel: 'samstat' { cpus = 8; memory = 8.GB }
    withLabel: 'lc_extrap' { cpus = 8; memory = 8.GB }
    withLabel: 'remove_dups' { cpus = 16; memory = 96.GB }
    withLabel: 'samstat_uniq' { cpus = 2; memory = 1.GB }
    withLabel: 'samstat_sf' { cpus = 4; memory = 2.GB }
    withLabel: 'samstat_tf' { cpus = 4; memory = 2.GB }
    withLabel: 'similarity' { cpus = 2; memory = 1.GB }
    withLabel: 'bamTObedpe' { cpus = 4; memory = 2.GB }
    withLabel: 'peak_calling' { cpus = 2; memory = 2.GB }
    withLabel: 'j_coefficient' { cpus = 1; memory = 1.GB }
    withLabel: 'summary_plot' { cpus = 1; memory = 1.GB }
    withLabel: 'idr' { cpus = 1; memory = 1.GB }
    withLabel: 'ataqv' { cpus = 1; memory = 1.GB }
    withLabel: 'mkarv' { cpus = 1; memory = 1.GB }
    withLabel: 'bigwig' { cpus = 2; memory = 8.GB }
    withLabel: 'idr_peaks' { cpus = 1; memory = 1.GB }
    withLabel: 'annotatePeaks' { cpus = 1; memory = 1.GB }
    withLabel: 'create_saf' { cpus = 1; memory = 1.GB }
    withLabel: 'featurecounts' { cpus = 1; memory = 1.GB }
}

// Gcloud
google.zone = "europe-west1"

singularity {
    enabled = true
    autoMounts = true
}

process.executor = "slurm"
process.container = "docker://giusmar/atacseq:0.1.6"

/*profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        
        }
        
        //cacheDir = 'singularity/cachedir'
    biocluster {
      process.executor = "slurm"
      process.container = "docker://giusmar/atacseq:0.1.6"
    } 
    local {
      process.container = "docker://giusmar/atacseq:0.1.6"
    }
    standard {
      resume = true
    }
}*/

// Params
params {

  // trim_galore
  trimgalore_length = "30"

  // index
  bwa_downloadIndex = false

  // general
  genomefai = "gs://tigem-gcacchiarelli-01/Reference/Human_hg38_v98/refdata-gex-GRCh38-2020-A/fasta/genome.fa.fai"
  blacklist = "gs://tigem-gcacchiarelli-01/Reference/Human_hg38_v98/blacklist.bed"
  fasta = "gs://tigem-gcacchiarelli-01/Reference/Human_hg38_v98/refdata-gex-GRCh38-2020-A/fasta/genome.fa"
  index = "gs://tigem-gcacchiarelli-01/Refernce/Human_hg38_v98/index/bwa_0.7.17/genome.fa*"
  gtf = "gs://tigem-gcacchiarelli-01/Reference/Human_hg38_v98/refdata-gex-GRCh38-2020-A/genes/genes.gtf"
  indexed = "gs://tigem-gcacchiarelli-01/Reference/Human_hg38_v98/Index/bwa_0.7.17"

}

// General params
params {
    bamtools_filter = 'bamtools_filter_pe_without_size_filtering.json'
    mlib_peak_count_header = 'mlib_peak_count_header.txt'
    mlib_frip_score_header = 'mlib_frip_score_header.txt'
    jaccard_score = 'jaccard_score.txt'
    idrthresh = '0.05'
    //tssbed = '/mnt/cacchiarelli/references/atac/chr_hg38cr.tss.bed'
    autosomesbed = 'chr_hg38cr.fa.autosomes_no_random_chr.bed'
    sizes = 'chr_hg38.chrom.sizes'
}
google {
    project = "tigem-gcacchiarelli"
    region = "europe-west1"
}