// Profile
profiles {
  standard {
      resume = true
 }
}

// Nextflow tower
//tower {
//  accessToken = 'eyJ0aWQiOiA0NTczfS4zNzFmNjliYjQwNmZjYjY3YjJjNzVjYjU2MGYyZDY2NDVhNGE0N2Qw'
//  enabled = true
//}

// Processes
process {
    withLabel: 'fastqc' { cpus = 2; memory = 1.GB; executor = 'slurm' }
    withLabel: 'trimming' { cpus = 2; memory = 4.GB; executor = 'slurm' }
    withLabel: 'create_bed' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'create_tss' { cpus = 4; memory = 8.GB; executor = 'slurm' }
    withLabel: 'alignment' { cpus = 2; memory = 60.gb; executor = 'slurm' }
    withLabel: 'samstat' { cpus = 2; memory = 1.GB; executor = 'slurm' }
    withLabel: 'lc_extrap' { cpus = 2; memory = 1.GB; executor = 'slurm' }
    withLabel: 'remove_dups' { cpus = 4; memory = 60.GB; executor = 'slurm' }
    withLabel: 'samstat_uniq' { cpus = 2; memory = 1.GB; executor = 'slurm' }
    withLabel: 'samstat_sf' { cpus = 4; memory = 2.GB; executor = 'slurm' }
    withLabel: 'samstat_tf' { cpus = 4; memory = 2.GB; executor = 'slurm' }
    withLabel: 'similarity' { cpus = 2; memory = 1.GB; executor = 'slurm' }
    withLabel: 'bamTObedpe' { cpus = 2; memory = 1.GB; executor = 'slurm' }
    withLabel: 'peak_calling' { cpus = 2; memory = 2.GB; executor = 'slurm' }
    withLabel: 'j_coefficient' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'summary_plot' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'idr' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'ataqv' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'bigwig' { cpus = 2; memory = 8.GB; executor = 'slurm' }
    withLabel: 'idr_peaks' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'annotatePeaks' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'create_saf' { cpus = 1; memory = 1.GB; executor = 'slurm' }
    withLabel: 'featurecounts' { cpus = 1; memory = 1.GB; executor = 'slurm' }
}

// Trim Galore
params {
    length = '30'
}

// BWA
params {
    bwaindex = ' /home/tigem/g.martone/ref/fasta/genome.fa'
}

// General params
params {
    bamtools_filter = 'bamtools_filter_pe_without_size_filtering.json'
    genomefai = '/mnt/cacchiarelli/references/fasta/genome.fa.fai'
    blacklist = '/mnt/cacchiarelli/references/atac/hg38-blacklist.bed'
    mlib_peak_count_header = 'mlib_peak_count_header.txt'
    mlib_frip_score_header = 'mlib_frip_score_header.txt'
    jaccard_score = 'jaccard_score.txt'
    idrthresh = '0.05'
    //tssbed = '/mnt/cacchiarelli/references/atac/chr_hg38cr.tss.bed'
    autosomesbed = 'chr_hg38cr.fa.autosomes_no_random_chr.bed'
    sizes = 'chr_hg38.chrom.sizes'
    fasta = '/opt/software/cellranger-refdata/refdata-gex-GRCh38-2020-A/fasta/genome.fa'
    gtf = '/opt/software/cellranger-refdata/refdata-gex-GRCh38-2020-A/genes/genes.gtf'
}

// Gcloud
google.zone = 'europe-west1'

// Singularity
singularity {
    enabled = true
    autoMounts = true
    cacheDir = 'work/singularity'
}
